@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: rgb(3, 193, 193);
  margin-left: 40px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(3, 193, 193);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login label {
  text-align: left;
  display: block;
}

.login h2 {
  font-size: 20px;
  color: rgb(3, 193, 193);
  margin-bottom: 30px;
}

.login input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
}

.login button {
  background:rgb(3, 193, 193);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 2.5px;
}

.not-found h2 {
  color:rgb(3, 193, 193);
}

